.form-container {
  display: flex;

  flex-direction: column;
  width: 80%;

  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1em;
  z-index: 1;
  backdrop-filter: blur(4.5px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(88, 109, 145, 0.09);
}

.search-form {
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-bar {
  background: transparent;
  // width: 50%;
  // border-radius: 0.5rem;
  // border: 0.5px solid $light-grey;
  // margin-right: 20px;
  // padding: 8px 20px;
  border: none;

  outline: none;
}
textarea:focus,
input:focus {
  outline: none;
}

.input-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 50%;

  border-radius: 0.5rem;
  border: 0.5px solid $light-grey;
  margin: 5px;
  padding: 5px 15px 5px 15px;
}

.input-container:focus-within {
  border: $pale-orange 2px solid;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 100%;
  top: 15%;

  border-radius: 0.5rem;
  min-width: 80px;
  // background-color: $off-white;
  // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  // padding: 50px;
  // margin-right: 5px;

  // z-index: 1;
}

@media (max-width: 600px) {
  .dropdown-content {
    left: 100%;
  }
}

.dropdown {
  position: relative;
  display: flex;
}

.filter-button {
  font-size: 1.5rem;
  background: transparent;
  border: none;
  margin-top: 4px;
  color: $redish;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.veg-button {
  background-color: rgb(199, 194, 194);

  border: none;
  color: white;
  padding: 4px 10px;
  border-radius: 0.3rem;
  margin-bottom: 5px;

  &:hover {
    background-color: $aqua;
    transform: scale(1.1);
  }
}

.search-button {
  background-color: $gold;
  border: none;
  padding: 9px 20px;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.buttons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $light-purple;
  padding: 20px 0 20px 0;

  .extra-buttons {
    background-color: $green;
    border: none;
    border-radius: 5rem;
    margin: 0 10px 0 10px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
