// mobile version

.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 160px;
  cursor: pointer;

  .heading-ramen-container {
    display: flex;
    margin-top: 10px;

    .heading {
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: 1px;
      padding: 40px 0 0 40px;

      &:hover {
        transform: scale(1.1);
        transition: 0.1s ease-in-out;
        text-decoration: overline red 2px;
      }
    }

    .ramen-animation {
      width: 80px;
      padding: 5px 0 0 15px;
    }
  }

  .sub-heading {
    font-weight: 100;
    letter-spacing: 5px;
    padding: 15px 0 20px 100px;
  }

  // .hover-circle {
  //   display: none;
  //   top: 26%;
  //   left: 8%;
  //   width: 60px;
  //   height: 60px;
  //   background-color: red;

  //   border-radius: 50%;
  //   z-index: -5;
  // }

  // .hover-circle:hover {
  //   display: block;

  //   top: 26%;
  //   left: 8%;
  //   width: 60px;
  //   height: 60px;
  //   background-color: red;

  //   border-radius: 50%;
  //   z-index: -5;
  // }
}
