// ? Mobile
// ! Come back to styling after recipe cards for both mobile and laptop
.main-landing-view-container {
}

.circle-with-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: $redish;
  border-radius: 50%;
  margin: 20px;

  .circle-text {
    width: 80%;
    text-align: center;
    transform: rotate(-10deg);
  }
}
