// ? Mobile

.circle-with-text {
  display: none;

  // position: absolute;
  // left: 5%;
  // top: 65%;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 200px;
  // height: 200px;
  // // background-color: $redish;
  // // border-radius: 50%;

  // margin: 20px;

  .circle-text {
    display: none;
    // width: 80%;
    // text-align: center;
    // transform: rotate(-10deg);
    // font-size: 2em;
  }
}

.lantern-png {
  width: 150px;
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: -2;
}

@media (min-width: 768px) {
  .lantern-png {
    top: 0;
    width: 300px;
  }

  // .circle-with-text {

  //   width: 300px;
  //   height: 300px;
  //   top: 50%;
  //   left: 10%;
  //   z-index: 1;
  // }
}
